<h1>Edit Comment!</h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for(@comment) do |f|%>

  <%= f.label :stock %>
  <%= f.collection_select :stock_id, Stock.all, :id, :name%>

  <%= f.label :content %>
  <%= f.text_field :content %>


  <%= f.submit %>

<% end %>
