<h1>New Stock!</h1>


<%= render partial: "layouts/errors", locals: {object: @stock} %>


<%= form_for(@stock) do |f|%>

  <%= f.label "Choose a category:" %>
  <%= f.collection_select :category_id, Category.all, :id, :category_name, include_blank: true %>


   <p>Or create a new category:
  <%= f.fields_for :category do |c|%>
    <%= c.text_field :category_name%>
  <% end %>
  </p>

  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :content %>
  <%= f.text_area :content %>


  <%= f.submit %>

<% end %>